<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>packageIdentifier</key>
			<string>dev.hyper.playing</string>
			<key>icon</key>
			<string>AppIcon29x29.png</string>
			<key>condensed</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Configuration</string>
			<key>footerText</key>
			<string>Undercover Mode sends the notification as the app that is playing music</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.hyper.playing.prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>me.conorthedev.playing/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>dev.hyper.playing.prefs</string>
			<key>key</key>
			<string>asMediaApp</string>
			<key>label</key>
			<string>Undercover Mode</string>
			<key>PostNotification</key>
			<string>me.conorthedev.playing/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Text</string>
			<key>footerText</key>
			<string>For custom title/text, use @a for the artist name and @t for the song title and @al for the album, add \n to create a line break (custom text only)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>ReturnableTextCell</string>
			<key>defaults</key>
			<string>dev.hyper.playing.prefs</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>customTitle</string>
			<key>label</key>
			<string>Custom Title</string>
			<key>placeholder</key>
			<string>Leave blank for default</string>
			<key>PostNotification</key>
			<string>me.conorthedev.playing/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>ReturnableTextCell</string>
			<key>defaults</key>
			<string>dev.hyper.playing.prefs</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>customText</string>
			<key>label</key>
			<string>Custom Text</string>
			<key>placeholder</key>
			<string>Leave blank for default</string>
			<key>PostNotification</key>
			<string>me.conorthedev.playing/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Auto-clear (seconds)</string>
			<key>footerText</key>
			<string>Removes the current notification from the notification list after a period of time.</string>
		</dict>
		<dict>
			<key>cell</key> 					
			<string>PSSliderCell</string>
			<key>default</key> 					
			<real>0</real>
			<key>defaults</key> 				
			<string>dev.hyper.playing.prefs</string>
			<key>key</key> 						
			<string>autoclearInterval</string>
			<key>min</key> 						
			<real>0</real>
			<key>max</key> 						
			<real>60</real>
			<key>showValue</key> 				
			<true/>
			<key>PostNotification</key> 		
			<string>me.conorthedev.playing/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>More</string>
			<key>footerText</key>
			<string>Don't like the vibrations or want to disable it on the lockscreen? Go to Settings > Notifications > Playing to change how they behave.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Blacklisted Apps</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>me.conorthedev.playing/ReloadPrefs</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>footer-title</key>
					<string>Block apps you don't want to recieve notifications from</string>
					<key>items</key>
					<array/>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Apps</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Apps</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string>blacklist-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/dev.hyper.playing.prefs.plist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Apps to hide banners in</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>me.conorthedev.playing/ReloadPrefs</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>footer-title</key>
					<string>Block apps you don't want the notifications showing in</string>
					<key>items</key>
					<array/>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Apps</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Apps</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string>dontshow-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/dev.hyper.playing.prefs.plist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>testNotification:</string>
			<key>label</key>
			<string>Test Notification</string>
		</dict>
	</array>
	<key>title</key>
	<string>Playing</string>
</dict>
</plist>
